{% extends 'global/base.html' %}

{% block title %}
Contact Details
{% endblock %}

{% block sidebar %}
    {% include 'global/sidebar.html' %}
{% endblock %}

{% block content %}
<!-- Top menu -->
<div class="container-fluid mt-4">
    <nav class="navbar navbar-expand-lg navbar-light rounded">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" onclick="history.back();"><i class="bi bi-caret-left"></i> Back</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="{% if type == 'individual' %}{% url 'edit_individual' id=contact.id %}{% else %}{% url 'edit_company' id=contact.id %}{% endif %}">
                                <i class="bi bi-pencil-square"></i> Edit
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="#" onclick="confirmDelete();"><i class="bi bi-trash-fill"></i> Delete</a>
                        </li>
                </ul>
            </div>
        </div>
    </nav>
    <form id="deleteForm" action="{% url 'contact_delete' contact.id type %}" method="post" style="display: none;">
        {% csrf_token %}
    </form>
</div>
<!-- Messages -->
<div class="container-fluid mt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show small-alert" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>
<!-- Content -->
<div class="container mt-5">
    <!-- Details Card -->
    <div class="card light-shadow mb-4">
        <div class="card-header card-title">
            <strong>
                {% if type == 'individual' %}
                    Contact Detail
                {% else %}
                    Company Detail
                {% endif %}
            </strong>
        </div>
        <div class="card-body">
            <div class="row">
                <!-- Left column -->
                <div class="col-md-6">
                    <dl>
                        <dt>Name</dt>
                        <dd>{{ contact.name }}</dd>

                        <dt>Email</dt>
                        <dd>{{ contact.email }}</dd>

                        <dt>Phone</dt>
                        <dd>{{ contact.phone }}</dd>

                        <dt>Address</dt>
                        <dd>{{ contact.address }}</dd>
                    </dl>
                </div>
                <!-- Right column -->
                <div class="col-md-6">
                    <dl>
                        {% if type == 'individual' and contact.company %}
                            <dt>Company</dt>
                            <dd><a href="{% url 'company_contact_detail' id=contact.company.id %}">{{ contact.company.name }}</a></dd>
                        {% endif %}

                        {% if type == 'company' %}
                            <dt>Registration Number</dt>
                            <dd>{{ contact.registration_number }}</dd>

                            {% if contact.reference %}
                                <dt>Reference</dt>
                                <dd><a href="{% url 'individual_contact_detail' id=contact.reference.id %}">{{ contact.reference.name }}</a></dd>
                            {% endif %}

                            {% if contact.owner %}
                                <dt>Owner</dt>
                                <dd><a href="{% url 'individual_contact_detail' id=contact.owner.id %}">{{ contact.owner.name }}</a></dd>
                            {% endif %}
                        {% endif %}
                        
                        <!-- This ensures additional details are displayed for both individual and company types -->
                        <dt>Additional Details</dt>
                        <dd>{{ contact.additional_details }}</dd>
                    </dl>
                </div>
            </div>
        </div>
        <!-- Details Card Footer -->
        <div class="card-footer text-muted" style="font-size: 8pt;">
            <strong>Created At:</strong> {{ contact.created_at|date:"Y-m-d H:i:s" }}
            {% if contact.updated_at != contact.created_at %}
                | <strong>Last Updated:</strong> {{ contact.updated_at|date:"Y-m-d H:i:s" }}
                {% if contact.last_updated_by %}
                    by {{ contact.last_updated_by.username }}
                {% endif %}
            {% endif %}
        </div>
    </div>
    <!-- Related Tasks Card for an Individual -->
    {% if type == 'individual' %}
    <div class="card light-shadow">
        <div class="card-header">
            <strong>Related Tasks:</strong>
        </div>
        <div class="card-body">
            <a href="{% url 'create_task' %}?contact_id={{ contact.id }}" class="btn btn-link"><i class="bi bi-plus-circle"></i> Add Task</a>
        </div>
        <div class="card-body">
            <!-- Tab Navigation -->
            <ul class="nav nav-tabs" id="relatedTasksTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="active-tasks-tab" data-bs-toggle="tab" href="#activeTasks" role="tab" aria-controls="activeTasks" aria-selected="true">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="closed-tasks-tab" data-bs-toggle="tab" href="#closedTasks" role="tab" aria-controls="closedTasks" aria-selected="false">Closed</a>
                </li>
            </ul>
            <!-- Tab Content -->
            <div class="tab-content" id="relatedTasksTabContent">
                <div class="tab-pane fade show active" id="activeTasks" role="tabpanel" aria-labelledby="active-tasks-tab">
                    <!-- Active Tasks -->
                    <ul class="list-group list-group-flush table-responsive scrollable-table-small">
                        {% for task in contact.tasks.all %}
                            {% if task.status in 'New,In Progress,Pending Customer,Pending Partner,Escalated' %}
                                <li class="list-group-item">
                                    <a href="{% url 'task_detail' task_id=task.id %}">
                                        {{ task.title }}
                                    </a> - {{ task.get_status_display }}
                                    <span class="text-muted" style="float: right;">
                                        Last Updated: {{ task.updated_at|date:"Y-m-d H:i" }}
                                    </span>
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No active tasks related to this contact.</li>
                        {% endfor %}
                    </ul>                    
                </div>
                <div class="tab-pane fade" id="closedTasks" role="tabpanel" aria-labelledby="closed-tasks-tab">
                    <!-- Closed Tasks -->
                    <ul class="list-group list-group-flush table-responsive scrollable-table-small">
                        {% for task in contact.tasks.all %}
                            {% if task.status == 'Completed' %}
                                <li class="list-group-item">
                                    <a href="{% url 'task_detail' task_id=task.id %}">
                                        {{ task.title }}
                                    </a> - {{ task.get_status_display }}
                                    <span class="text-muted" style="float: right;">
                                        Last Updated: {{ task.updated_at|date:"Y-m-d H:i" }}
                                    </span>
                                </li>
                            {% endif %}
                        {% empty %}
                            <li class="list-group-item">No closed tasks related to this contact.</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
{{ block.super }}
<script>
    var contactType = "{{ type }}";
    
    function confirmDelete() {
    var deleteConfirmed = confirm('Are you sure you want to delete this contact?');
    if (!deleteConfirmed) {
        return; // Stop here if the user does not confirm deletion
    }
    
    if (contactType == 'company') {
        // Only ask about deleting related individuals if it's a company contact
        var deleteRelated = confirm('Do you want to delete all related individuals associated with this company?');
        // Attach this additional information to the form before submitting
        var input = document.createElement('input');
        input.type = 'hidden';
        input.name = 'delete_related';
        input.value = deleteRelated ? 'yes' : 'no'; // Pass the decision to the backend
        document.getElementById('deleteForm').appendChild(input);
    }
    
    // Submit the form if it's an individual or if the user made a choice about related individuals
    document.getElementById('deleteForm').submit();
}

</script>
{% endblock %}