{% extends 'auth/settings/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block sidebar %}
    {% include 'auth/settings/sidebar.html' %}
{% endblock %}

{% block content %}
<!-- Messages -->
<div class="container-fluid mt-4">
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show small-alert" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
    {% endif %}
</div>
<form method="post" action="{% url 'change_password' %}" class="container mt-5">
    {% csrf_token %}
    <!-- Page title -->
    <div class="row mb-3">
        <h4 class="col-12">Change Password</h4>
    </div>
    <hr style="border-top: 1px solid #8c8b8b;">
    <!-- Content -->
    <div class="row mb-3">
        <label for="old_password" class="col-sm-2 col-form-label"><strong>Old password:</strong></label>
        <div class="col-sm-10">
            <input type="password" id="old_password" name="old_password" class="form-control" required>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="new_password1" class="col-sm-2 col-form-label"><strong>New password:</strong></label>
        <div class="col-sm-10">
            <input type="password" id="new_password1" name="new_password1" class="form-control" required>
            <small class="form-text text-muted">
                Your password can’t be too similar to your other personal information.<br>
                Your password must contain at least 8 characters.<br>
                Your password can’t be a commonly used password.<br>
                Your password can’t be entirely numeric.
            </small>
        </div>
    </div>
    
    <div class="row mb-3">
        <label for="new_password2" class="col-sm-2 col-form-label"><strong>Confirm new password:</strong></label>
        <div class="col-sm-10">
            <input type="password" id="new_password2" name="new_password2" class="form-control" required>
        </div>
    </div>
    
    <div class="row mb-3">
        <div class="col-sm-10 offset-sm-2">
            <button type="submit" class="btn btn-primary">Change Password</button>
        </div>
    </div>
</form>
{% endblock %}
