{% extends 'auth/settings/base.html' %}

{% block title %}Add New Product{% endblock %}

{% block sidebar %}
    {% include 'auth/settings/sidebar.html' %}
{% endblock %}

{% block content %}
{% include 'global/top_menu.html' %}

<!-- Content -->
<div class="container mt-5">
    <h4>Create New Product</h4>
    <form method="post" action=".">
        {% csrf_token %}
        <div id="formset" data-formset-prefix="product">
            <div class="formset-form mb-3">
                {% for field in form.visible_fields %}
                    <div class="mb-3">
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                            <div class="form-text">{{ field.help_text }}</div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Create Product</button>
    </form>
</div>
{% endblock content %}
